.container {
  margin: 0px;
  display: flex;
  margin: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100%;
}

.editor {
  display: block;
  position: relative;
  
  overflow-x: scroll;  
  border: 1px dotted gray;
  white-space: nowrap;

  padding: 10px 30px;
  margin: 10px 10px 0 10px;

  height: 86vh;  
}

.terms {
  color: white;
  background-color: black;
  width: 100%;
  height: 2vh;

  font-size: 11px;
  padding: 5px;
}

a {
  color: #00C46A;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: visible;
  
  bottom: 50px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;  
}

.fader {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cta {
  display: flex;
  flex-direction: row;
  margin: 0 10px 10px;

  height: 10%;
}

.btn {
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  min-width: 50px;
}

.btn > svg {
  display: block;
  margin: 0 auto;
}

.btn-icon {
  width: 30px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #00C46A;
  color: white;
  padding: 5px 20px;
}

.btn-primary:hover {
  background-color: #27ae60;
}

.btn-secondary {
  background-color: white;
  color: black;
  padding: 5px 20px;
}

.btn-secondary:hover {
  background-color: #EEEEEE;
}

.btn-square {
  color: white;
  width: 50px;
  height: 50px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.textInput {
  max-width: 100px;
  font-size: 20px;
  border: 1px solid lightgray;
  flex: 1;
  text-align: center;
}

label {
  font-size: 11px;
  text-align: center;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 220px;
  margin: 0 auto;
  padding: 5px;
  z-index: 10;
}

.actions > button{
  padding: 20px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 0;
  border-radius: 50%;
}


.timeline {  
  position: absolute;
  bottom: 10px;
  
  border-top: 1px solid gray;
}

.timeline > span{
  position: relative;
  display: inline-block;
  width: 180px;
  margin-top: 20px;
  padding: 0;
  
}

.timeline > span::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  top: -20px;
  left: 0;
  background-color: gray;
  
}

.zones {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.zones > div {
  position: absolute;
  bottom: 0;
  left: 0;
}
.zones > div:not(:first-child){
  border-top: 1px solid black;
}

.slider {  
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0px;
  z-index: 1;
}

.workoutLength {
  display: inline-block;
}

.alert {
  color: 'red'
}