.x-axis {
  position: absolute;
  bottom: 0px;

  border-top: 1px solid oklch(0.88 0.004 250);
  overflow: hidden;
  min-width: 1320px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 11px;
  color: oklch(0.6 0.01 250);
}

.x-axis > span {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 0;
}

.x-axis.x-axis-time > span {
  width: 200px;
}
.x-axis.x-axis-distance > span {
  width: 100px;
}

.x-axis > span::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  top: -20px;
  left: 0;
  background-color: oklch(0.7 0.01 250);
}
