.segment {
  position: relative;
}
.bar {    
  border-radius: 10px;
  border: 1px solid white;
}

.comment {
  position: absolute;
  top: -60px;
  left: 105px;
  color: gray;
  padding: 5px;  
  font-size: 20px;
}