.segment {
  position: relative;
}
.bar {    
  border-radius: 10px;
  border: 1px solid white;
}

.label {
  position: absolute;
  top: -40px;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 110px;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  z-index: 100;
}

.comment {
  position: absolute;
  top: -60px;
  left: 105px;
  color: gray;
  padding: 5px;  
  font-size: 20px;
}