.editor {
  display: block;
  position: relative;
  
  overflow: scroll;
  border: 1px dotted gray;
  white-space: nowrap;

  padding: 10px 30px;
}

.canvas {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;  
  
  
  height: 80vh;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid gray;
  text-align: center;
  font-size: 14px;
}

.textInput {
  height: 40px;
  width: 100px;
  font-size: 20px;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 220px;
  margin: 0 auto;
  padding: 5px;

}

.actions > button {
  padding: 20px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 0;
  border-radius: 50%;
}

.timeline {  
  border-top: 1px solid gray;
}

.timeline > span{
  position: relative;
  display: inline-block;
  width: 180px;
  margin-top: 20px;
  padding: 0;
  
}

.timeline > span::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  top: -20px;
  left: 0;
  background-color: gray;
  
}

.zones {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.zones > div {
  position: absolute;
  bottom: 0;
  left: 0;
}
.zones > div:not(:first-child){
  border-top: 1px solid black;
}