.editor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;  
  width: 100%;
  border: 1px dotted gray;
  height: 80vh;

  overflow-x: scroll;
}

.btn {
  width: 50px;
  height: 50px;
}