/* Toast message styles will be moved here from Editor.css if needed */
.message {
  position: absolute;
  display: flex;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.text {
  flex: 1;
}

.loading {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.error {
  color: white;
  background-color: rgba(196, 13, 13, 0.7);
}

.success {
  color: white;
  background-color: #00c46a;
}

.close {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  float: right;
  color: white;
  cursor: pointer;
}