.footer {
  padding: 10px;
  font-size: 12px;
  text-align: center;

  color: black;
}
.footer > ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer > ul > li{
  display: inline;
  padding: 0 10px;
  margin: 0;
}