.home {    
}

.hero {
  background-color: #eaeaea;
  text-align: center;
  padding: 50px;
}

h2 {
  font-size: 34px;
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.btn-xl {
  font-size: 20px;
  padding: 20px 60px;
}

.features {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.perks {
  display: flex;
  flex-wrap: wrap;
}
.perks > div{
  width: 25%;  
  height: 120px;  
}
.perks > div > p{
  max-width: 250px;
  margin: 0 auto;
}
.alt-background {
  background-color: black;
}
.about {
  
  color: white;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;

  max-width: 1200px;
  margin: 0 auto;
}
.about > h2 {
  width: 100%;
  margin: 0;
}
.about > div {
  width: 50%;
  margin: 0; 
}
.about > div > p {
  max-width: 300px;
  margin: 20px auto;  
  margin-top: 0;
}

@media (max-width: 720px) {
  .perks > div{
    width: 50%;  
    height: 120px;  
  }
  .about > div {
    width: 100%;
    margin: 0; 
  }
}